.header[b-o8p18kg2g6] {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    color: black;
    background-color: orange;
    padding: 0.5rem;
    border-radius: 5px;
}
