@page "/admin-details"
@inject NavigationManager NavigationManager

<div class="header">
    <h3>Admin Details</h3>
</div>

@code {
    [Parameter] public string? Email { get; set; }

    private AdminDetailsModel adminExtra = new();

    private void SaveAdmin()
    {
        // Save extra info + user to DB
        Console.WriteLine($"Admin saved: {adminExtra.Privileges}");
        NavigationManager.NavigateTo("/users"); // back to list
    }

    public class AdminDetailsModel
    {
        public string Privileges { get; set; }
    }
}
