@page "/staff-details"
<PageTitle>Staff Details</PageTitle>

<div class="header">
    <h1>Staff Details</h1>
</div>
<hr />

<p>Hello world</p>
<p>This is staff details page.....</p>

<div>
    <a href="/admins/create">Back to Create User</a>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Staff details page loaded successfully");
        await base.OnInitializedAsync();
    }
}